<!DOCTYPE html>

<html lang="en">
  <head>
    <!--
      About meta tags : https://www.w3schools.com/tags/tag_meta.asp
      About viewport : https://www.w3schools.com/css/css_rwd_viewport.asp
      Meta tags google recognizing : https://support.google.com/webmasters/answer/79812?hl=ko
      The position of script tags : https://stackoverflow.com/questions/4396849/does-the-script-tag-position-in-html-affects-performance-of-the-webpage
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The default template for HTML5"> <!-- 검색 결과 제목 하단에 나타나는 설명 -->
    <meta name="author" content="Young">

    <title>log-in</title>

    <!-- <link rel="stylesheet" href=""> -->
    <link rel="stylesheet" href="cards.css">
  </head>
  <body>
    <h1>Cards</h1>
    <button class="btn-list">리스트 가져오기</button>
    <ul class="cards-list"></ul>
    <!-- <script src=""></script> -->
    <script src="api.js"></script>
    <script src="cards.js"></script>
  </body>
</html>